<footer class="mt-2">
    <section class="scroll-section">
        <div class="scroll text1" >
            <div>
                <span class="anton-font">News</span><span class="text-light anton-font">Blog</span>
                <span>Copyright © 2019 Leonid Web technology corporation. All rights reserved.</span>
                <span class="anton-font">News</span><span class="text-light anton-font">Blog</span>
                <span>Copyright © 2019 Leonid Web technology corporation. All rights reserved.</span>
                <span class="anton-font">News</span><span class="text-light anton-font">Blog</span>
                <span>Copyright © 2019 Leonid Web technology corporation. All rights reserved.</span>
            </div>

        </div>
    </section>
</footer>




