{#<footer class="main-footer">#}
    {#<a class="nav-link d-flex justify-content-center" href="{{ path('index') }}"><h3 class="text-dark ml-3 text-left home-logo">NEWS<span class="text-light">BLOG</span></h3> <span class="sr-only">(current)</span></a>#}
    {#<p class="asap-font copyright d-flex justify-content-center">Copyright © 2019 Leonid Web technology corporation. All rights reserved.</p>#}
{#</footer>#}

<footer>
    <section class="scroll-section">
        <div class="scroll text1" >
            <div>
                <span class="anton-font">News</span><span class="text-light anton-font">Blog</span>
                <span>Copyright © 2019 Leonid Web technology corporation. All rights reserved.</span>
                <span class="anton-font">News</span><span class="text-light anton-font">Blog</span>
                <span>Copyright © 2019 Leonid Web technology corporation. All rights reserved.</span>
                <span class="anton-font">News</span><span class="text-light anton-font">Blog</span>
                <span>Copyright © 2019 Leonid Web technology corporation. All rights reserved.</span>
            </div>

        </div>
    </section>
</footer>

{#<div id="demo1">#}
{#<h2>Copyright © 2019 Leonid Web technology corporation. All rights reserved.</h2>#}
{#</div>#}



