<footer class="main-footer">
    <a class="nav-link d-flex justify-content-center" href="{{ path('index') }}"><h3 class="text-dark ml-3 text-left home-logo">NEWS<span class="text-light">BLOG</span></h3> <span class="sr-only">(current)</span></a>
    <p class="asap-font copyright d-flex justify-content-center">Copyright © 2019 Leonid Web technology corporation. All rights reserved.</p>
</footer>
