{% extends 'base.html.twig' %}

{% block body %}
<h1 class="h1-green">Green Shock Animation</h1>
    <button class="btn-gasp" id="cta">watch here</button>

    <div class="panel">
        <img class="img-gasp" id="img-gasp" src="{{ asset('uploads/40a9eae0c152c06dbbf9bce03f77f229.jpeg') }}">
        <p class="p-gasp">Some great line about engineering and how we did something everyone will love.</p>
        <div class="box"></div>
    </div>
{% endblock %}

{#https://cdnjs.com/libraries/gsap#}

{#https://greensock.com/docs/v2/Easing#}